# Mouse
set -g mouse on

# Copy Model
setw -g mode-keys vi

# ----- Prefix -----

unbind-key C-b
set-option -g prefix C-a
bind-key C-a send-prefix


# ----- Panes -----

# Switch panes
bind-key h select-pane -L
bind-key l select-pane -R
bind-key k select-pane -U
bind-key j select-pane -D

# Resize pane
bind-key -r L resize-pane -R
bind-key -r H resize-pane -L
bind-key -r K resize-pane -U
bind-key -r J resize-pane -D
# toggle maximize pane
bind-key m resize-pane -Z 


# ----- Plugs -----

# Color Scheme
set -g @plugin "arcticicestudio/nord-tmux"
set -g @nord_tmux_no_patched_font "1"

# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run -b '~/.tmux/plugins/tpm/tpm'