version: '3.5'
services:
  redis:
    image: redis:5
    container_name: redis
    restart: always
    command: redis-server /etc/redis/redis.conf
    ports:
      - 6379:6379
    privileged: true
    volumes:
      - /root/docker/redis/config/redis.conf:/etc/redis/redis.conf
    networks:
      - redis_net

networks:
  redis_net:
    name: redis_net